<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add xdt:Locator="Match(name)" xdt:Transform="Replace" name="DatabaseEntities" connectionString="Dev_ConnectionStringHere" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add xdt:Locator="Match(key)" xdt:Transform="Replace" key="Environment" value="Dev"/>
	</appSettings>
	<applicationSettings>
		<JocysCom.XmlTransform.Tester.Properties.Settings>
			<setting xdt:Locator="Match(name)" xdt:Transform="Replace" name="SettingName1" serializeAs="String">
				<value>LocalValue1</value>
			</setting>
		</JocysCom.XmlTransform.Tester.Properties.Settings>
	</applicationSettings>
</configuration>
