<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="JocysCom.XmlTransform.Tester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<clear />
		<add name="DatabaseEntities" connectionString="Dev_ConnectionStringHere" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Environment" value="Dev"/>
	</appSettings>
	<applicationSettings>
		<JocysCom.XmlTransform.Tester.Properties.Settings>
			<setting name="SettingName1" serializeAs="String">
				<value>DevValue1</value>
			</setting>
		</JocysCom.XmlTransform.Tester.Properties.Settings>
	</applicationSettings>
</configuration>